/* @media */
@media (max-width: 1230px) {

}

@media (max-width: 990px) {

}

@media (max-width: 770px) {
    .wall {
        display: none;
    }
    
    .page {
        justify-content: center;
    }

    .login {
        max-width: 100%;
        margin-top: 90px;
    }

    .login_header {
        text-align: center;
    }

    .register {
        max-width: 100%;
        margin-top: 90px;
    }

    .register_header {
        text-align: center;
    }

}

@media (max-width: 575px) {
    .login {
        margin-top: 80px;
    }

    .footer_text {
        font-size: 13px;
    }
}

@media (max-width: 360px) {
    .login {
        margin-top: 70px;
    }

    .register {
        margin-top: 50px;
    }

}

@media (max-width: 320px) {
    .login {
        margin-bottom: 40px;
    }

    .register {
        margin-top: 40px;
    }
}