<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="styles/login.css">
        <link rel="stylesheet" href="styles/adaptation.css">
        <!-- fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/6c661b8ce2.js" crossorigin="anonymous"></script>
        <!-- title -->
        <title>Login Page</title>
    </head>
    <body>
        
        <!--Login-->
            <div class="page">
                <div class="login">
                    <!--Login Header-->
                    <div class="login_header">
                        <div class="login_title">Welcome back</div>
                        <div class="login_subtitle">Welcome back! Please enter your details.</div>
                    </div> <!--./login_header-->
                    <div class="enter_email">
                        <div class="enter_email_text">Email</div>
                            <input class="enter_email_input" type="email" name="name" placeholder="  Enter your email">
                        </form>
                    </div> <!--./enter_email-->
                    <div class="enter_password">
                        <div class="enter_password_text">Password</div>
                            <input class="enter_password_input" type="password" name="name" placeholder="  **********">
                        </form>
                    </div> <!--./enter_password-->
                    <!--Footer Data-->
                    <div class="footer_data">
                        <div class="footer_checkbox">
                            <input type="checkbox">
                        </div> 
                            <div class="footer_rememberme">Remember me</div>
                            <a class="footer_forgotpassword" href="#" target="_blank">Forgot password</a>
                    </div> <!--./footer_data-->
                    <div class="footer_button">
                        <div class="footer_signin">
                            <form class="footer_signin--form" action="/" method="post">
                                <button class="footer_signin--button" type="submit">
                                    Sign in
                                </button>
                            </form>
                        </div> <!--./footer_signin--withg-->
                        <div class="footer_signin--withg">
                            <form class="footer_signin--withg--form" action="/" method="post">
                                <button class="footer_signin--withg--button" type="submit">
                                    <img class="footer--google_ico" src="images/googleico.png">
                                    Sign in with Google
                                </button>
                            </form>
                        </div> <!--./footer_signin--withg-->
                    </div> <!--./footer_button-->
                    <div class="footer">
                        <div class="footer_text">
                            Don’t have an account? <a class="footer_text--span" href="/register">Sign up for free!</a>
                        </div>
                    </div> <!--./footer-->
                </div> <!--./login-->
                <div class="wall"></div>
            </div> <!--./page-->
        </body>
</html>